body{

    background-color:#ecf0f1;
    color:black;
	margin: 0%;

}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post_container{
    width: 90%;
    margin: 20px 0px 20px 5%;
}

.card{
    margin: 10px 0px 10px 0px;
    background-color: white;
    width: 100%;
  
}

.card .price{
	font-size: 18px;
	font-family: sans-serif;


}

.card a{
    text-decoration: none;
}

.card .fa-star{

	float:right;
}

 .card button{
	background-color: transparent;
    border: none;
}


