body{
	background-color: #F4F4F4;
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: sans-serif;
}



.box{
	margin: 25px 0px 25px 5%;
	width: 90%;
	background-color: white;
	padding-bottom: 20px;
}

.box .heading{
	margin: 0;
	width: 100%;
	background-color: #002130;
	color: white;
}

.box .heading ul {
	     list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
}

.box .heading ul li{

	     float: left;
         position: relative;
         padding: 5px;
         margin-left: 10px;
         border-radius: 5px;

}


.box .body  .control{
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
       
    }

@media(max-width: 500px){

	.box .body  .control{
        width:90%;
        margin-left: 5%;
        margin-bottom: 25px;
       
    }

}



 .box .body  .control ul{

        list-style-type: none;
        margin: 0px;
        padding: 0px;
        width: 100%;

        }

.box .body  .control ul li{
         float: left;
         position: relative;
         padding: 10px;
         background-color:#e3e6e8;
         margin: 10px;
         border-radius: 5px;
        
    }


.box .body .profile ul{
	list-style: none;
	background-color: #e3e6e8;
	border: 5px solid #e3e6e8;
	border-radius: 5px;


}

.box .body .profile ul li{
	line-height: 50px;
	padding: 5px;
	border-radius: 5px;

}

.box .body .profile ul li:nth-child(odd){
	background-color:  #e3e6e8;

}

.box .body .profile ul li:nth-child(even){
	background-color: #f1f2f3;

}

.box .body button{
	margin: 20px 0px 20px 20px;
}

/* start form */

.form{

	width: 80%;
	margin: 40px 20px 0px 9%;
	background-color: white;
	padding: 25px;
	border-radius: 3px;
}

.form label{
	font-size: 20px;
}

.form input  {
	background-color: #e6e6e6;
}


.form button{
	float: right;
	width: 150px;
	margin-top: 20px;
}


/* end form */



/* start portofilo */

.porto{
    width: 100%;
}

.proto-control{
    margin: 20px 0px 20px 2%;
}


.proto-control button{
    margin: 20px 0px 20px 0%;
}





.porto .card{
    width: 100%;
}



/* end portofilo */





