body{
	background-color: #F4F4F4;
	
}

*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	margin-top: 20px;
}


.main{
	position: absolute;
	left: 220px;
	width: calc(100% - 220px);
	transition: 0.5s;
}

 

/* end nav */ 


/* start manage page */


.search{

	width: 80%;
    margin-top: 20px;
    margin-left: 10%;


}

.search input{
	width: 100%;
}

.search label{
	font-size: 20px;

}

.manage-table{
	width: 82%;
	margin-top: 15px;
	margin-left: 9%;
	border: 15px solid white;
	border-radius: 3px;
	overflow-y: scroll;
	height: 500px;

}

.manage-table table thead{
	background-color: white;
	color: black;

	
	
}

.manage-table table button{
	margin: 3px;
	width: 100%;

}


/* end manage page */ 

/* start show all page */

.all{

    width: 80%;
    margin-top: 80px;
    margin-left: 10%;
	
}

.card{
	margin-top: 15px;
	max-width: 15rem;
	min-width: 9rem;
	border: 6px white solid;
}


/* end show all page */


/* start details page */


.view-box{
	background-color: white;
	margin: 20px 0px 20px 0%;
	padding: 0px 0px 10px 0px;
	border-radius: 10px;
}

.view-box .profile{
	margin: 10px 0px 10px 0%;
	
}

.view-box .profile .profile-img{
	width: 100%;
	
}

.view-box .profile ul{
	list-style: none;
	margin: 10px 0px 10px 10px;
	
}

.info{
	background-color: white;
	margin: 20px 0px 20px 0%;
	padding: 10px 0px 10px 0px;
	border-radius: 0px 0px 10px 10px ;

}

.heading{
     background-color: #2c3e50;
     color: white;
}

.info ul{
	list-style: none;
	margin: 10px 0px 10px 10px;
}


/* end details */




/* start Edit page */ 

.form{

	width: 80%;
	margin: 40px 20px 0px 9%;
	background-color: white;
	padding: 25px;
	border-radius: 3px;
}

.form label{
	font-size: 20px;
}

.form input  {
	background-color: #e6e6e6;
}

.form textarea  {
	background-color: #e6e6e6;
}

.form button{
	float: right;
	width: 150px;
	margin-top: 20px;
}


/* end Edit page */